.pinTitle {
  width: 84%;
  color: #444;
  font-weight: bold;

  font-size: 25px;
  /*line-height: 16px;*/
  margin-bottom: 6px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pinTitleCount {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.pinRepinCountIcon {
  width: 10px;
}

.pinRepinCount {
  color: #b5b5b5;
}
