a {
  text-decoration: none;
}

.pinner {
  display: flex;
}

.pinner:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.pinnerImage {
  border-radius: 50%;
  margin-right: 6px;
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.pinnerImage {
  /* used as a backup image if original image fails */
  background-image: url("http://res.cloudinary.com/doilr7vvv/image/upload/v1488671075/genericUser_denhyl.png");
  background-size: cover;
}

.pinnerUsername {
  color: #555;
  font-weight: bold;
}

.pinnerBoardname {
  color: #b5b5b5;
  font-weight: bold;
}

.pinnerUsernameBoard {
  display: flex;
  flex-direction: column;
}
