.Pin {
  width: 30%;

  padding: 10px;
  /* NOTE: changed from 480 */
  height: 481px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  border: 1px solid rgba(0, 0, 0, 0.05);
}

.pinTitleBody:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
